
body{
    margin: 0px;
    background-color: rgb(70, 190, 70);
}
nav .logo img{
    width: 20%; 
   
}
nav .logo{
    align-items: center;
    justify-content: center;
    
}
nav .logo .sp1{
   position: absolute;
   line-height: 60px;
   margin-left: 10px;
   font-weight: bolder;
}

nav{
    position: fixed;
    margin-top: -100px;
    width: 100%;
    display: flex;
    background-color: rgba(172, 255, 47, 0.723);
    align-items: center;
    justify-content: space-evenly;
    z-index: 30;
}

nav ul{
    list-style-type: none;
    
}
nav li{
    display: flex;
    
}

nav li a{
    background-color:rgba(128, 128, 128,0.600);
    text-decoration: none;
    padding: 20px;
    color: black;
    position: relative;
    justify-content: space-evenly;
}
nav li a:hover{
    background-color: aqua;
    border-radius: 20px;
    
}
nav .lol p{
    display: inline;
    position: absolute;
    transform: translate(5px,-10px);
    
}

/* -----------     NAV BAR   -------------     */

main{
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 100px;
}
main .nav2 {
    line-height: 50px;
    margin-top: 10px;
    display: flex;
    margin-left: 14.8%;
}
main .nav2 ul{
    list-style: none;
}
main .nav2 ul li{
    display: flex;
}
main .nav2 ul li a{
    background-color:rgba(128, 128, 128,0.600);
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}
main .nav2 a:hover{
    background-color: rgba(0, 0, 255, 0.636);
    border-radius: 20px;
}
main table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    
}
main tr td{
    border: black solid 1px;
    width: 300px;
    height: 500px;
    padding: 10px;
    justify-content: space-around;
    background-color: rgba(36.38, 181.90, 68.39, 0.53);
}
main tr td img{
    width: 100%;
    width: 100px;
    height: 100px;
    background-color: yellow;
}


main .nomor{
    background-color: rgba(128, 128, 128, 0.633);
    text-align: center;
    padding: 20px;
    height: 20px;
}
main .sisa{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;
}
main .keterangan{
    display: block;
    text-align: justify;
}


/* ----------------- MAIN ------------------ */

footer{
    background-color: rgba(0, 0, 0, 0.714);
    height: 100px;
    color: white;
    text-align: center;
    line-height: 50px;
}
@media (max-width:600px) {
    nav{
        width: 600px;
        display: block;
        padding: 5px;
        margin-top: -180px;
    }
    nav .lol p{
        position: relative;
        transform: translate(60px,-60px);
    }
    nav .nav1 a{
        padding: 2%;
    }
    nav .nav1{
        margin-left: -40px;
    }
    .sp1{
        position: absolute;
        margin-top: 15px;
        margin-left: 10px;
    }
    main{
        margin-top: 180px;
    }
    main table tr{
        display: flex;
        flex-wrap: wrap;
    }
    main table tr td{
        flex: 1 0 50%;
        width: 100px;
    }
     
    
}
