
body{
    margin: 0px;
    background-color: rgb(70, 190, 70);
}
nav .logo img{
    width: 20%; 
   
}
nav .logo{
    align-items: center;
    justify-content: center;
    
}
nav .logo .sp1{
   position: absolute;
   line-height: 60px;
   margin-left: 10px;
   font-weight: bolder;
}

nav{
    display: flex;
    background-color: rgba(172, 255, 47, 0.723);
    align-items: center;
    justify-content: space-evenly;
}

nav ul{
    list-style-type: none;
    
}
nav li{
    display: flex;
    
}

nav li a{
    background-color:rgba(128, 128, 128,0.600);
    text-decoration: none;
    padding: 20px;
    color: black;
    position: relative;
    justify-content: space-evenly;
}
a:hover{
    background-color: aqua;
    border-radius: 20px;
    
}
nav .lol p{
    display: inline;
    position: absolute;
    transform: translate(5px,-10px);
    
}

/*        NAV BAR        */
/* main{
    background-color: blue;
} */
main{
    display: flex;
    flex-direction: column;
}
main .about{
    background-color: rgba(0,0,0,0.25);
    width: 50%;
    height: 100%;
    border: black 1px solid;
    padding: 20px;
    text-align: center ;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    
}
main .about h4{
    text-align: center;
}
main .about p{
    display: flex;
    flex-direction: column;
}


@media (max-width:800px) {
    nav{
        width: 100%;
        display: block;
        padding: 5px;
    }
    nav .lol p{
        position: relative;
        transform: translate(60px,-60px);
    }
    nav .nav1 a{
        padding: 2%;
    }
    nav .nav1{
        margin-left: -40px;
    }
    .sp1{
        position: absolute;
        margin-top: 15px;
        margin-left: 10px;
     }
    
    
     
    
}
